<!DOCTYPE html>
<html>
<body>
<p>home works!</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="md-form active-pink active-pink-2 mb-3">
      <input class="form-control" type="search" id="search1"  formControlName="search" mdbInput>
      <button type="submit">Search</button>
    </div>
  </form>
<div *ngIf='movies.length>0'>
<ul>
    <li *ngFor='let whole of combined'>
      {{whole.movie}}

      <div class="container">
        <img class = "images" src={{whole.poster}} alt="Italian Trulli">
        <div class = "overlay">
          <div class="text">{{whole.overviews}}></div>
        </div>
      </div>
    </li>
</ul>

</div>
<div *ngIf='movies.length==0'>No movies found</div>
</body>
</html>