#aForm {
   display: inline;
   margin: 0;
   padding: 0;
 }
 
ul li {
   display: inline-block;
   vertical-align: top;
}

.images {
   width: 27vh;
   height: 40vh;
   border-radius: 2vh;
   //z-index: 2;
}

/*.text {
   font-size: 1.2vh;
}*/

.overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: white;
   padding: 2vh;
   margin: 2vh;
   border-radius: 1.5vh; //2vh;
   //z-index: 1;
}

.container:hover .overlay {
   opacity: 0.93;
}

.container {
   position: relative;
   padding: 2vh;
   margin: 2vh;
   display: inline-block;
   width: 27vh;
   border-radius: 2vh;
}

#title {
   padding-top: 1vh;
   font-size: 2vh;
   font-weight: bold;
}

