#aForm {
    display:inline;
    margin:0;
    padding:0;
 }

 ul li{
    flex: left;
}

 img{
    width: 10%;
    height: auto;
 }

 .images{
   width: 50%;
   height: 50%;
 }

.overlay{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 50%;
   opacity: 0;
   transition: .5s ease;
   background-color: white;
}

.container:hover .overlay {
   opacity: 1;
 }
 .container {
   position: relative;
   width: 50%;
 } 